<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/icon/signo pah.jpg"></ion-img>
  <ion-title style="text-align: center;"> Hola </ion-title>
  <ion-title style="text-align: center;"> Bienvenido! {{nombreUsuario}}</ion-title>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink] ="'/login'">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

